name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libdbus-1-dev espeak-ng libasound2-dev pkg-config dbus-x11 alsa-utils python3-dbus libssl-dev cmake build-essential
        
    - name: Install libvosk
      run: |
        mkdir -p $HOME/lib
        mkdir -p $HOME/include
        wget https://github.com/alphacephei/vosk-api/releases/download/v0.3.45/vosk-linux-x86_64-0.3.45.zip
        unzip vosk-linux-x86_64-0.3.45.zip
        cp vosk-linux-x86_64-0.3.45/libvosk.so $HOME/lib/
        cp vosk-linux-x86_64-0.3.45/vosk_api.h $HOME/include/
        ls -l $HOME/lib/libvosk.so

    - name: Cache Cargo registry
      uses: actions/cache@v3
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-registry-

    - name: Cache Cargo index
      uses: actions/cache@v3
      with:
        path: ~/.cargo/git
        key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-index-

    - name: Cache Cargo build
      uses: actions/cache@v3
      with:
        path: target
        key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-build-target-

    - name: Build
      env:
        RUSTFLAGS: -L native=${{ github.workspace }}/../lib
        LD_LIBRARY_PATH: ${{ github.workspace }}/../lib
      run: |
        export RUSTFLAGS="-L native=$HOME/lib"
        export LD_LIBRARY_PATH="$HOME/lib:$LD_LIBRARY_PATH"
        cargo build --verbose

    - name: Run tests
      env:
        RUSTFLAGS: -L native=${{ github.workspace }}/../lib
        LD_LIBRARY_PATH: ${{ github.workspace }}/../lib
      run: |
        export RUSTFLAGS="-L native=$HOME/lib"
        export LD_LIBRARY_PATH="$HOME/lib:$LD_LIBRARY_PATH"
        cargo test --verbose
